/* Themes and Color Schemes */

:root {
    --white: white;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --blue0: #0601ff;
    --blue1: #0084a5;
    --green: #5FD588;
    --light: #F2F2F2;
    --dark: #0f0f0f;
}

.light {
    --bg: var(--light);
    --bg-nav: var(--gray0);
    --bg-dropdown: var(--blue0);
    --border-color: var(--blue1);
    --text: var(--white);
}


.dark {
    --bg: var(--dark);
    --bg-nav: var(--gray0);
    --bg-dropdown: var(--blue1);
    --border-color: var(--blue0);
    --text: var(--white);
}

/* Global Styling */

html,
body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}

/* Navbar Bootstrap */

.container {
    padding-top: 100px;
}

.navbar {
    height: 6rem;
    padding-left: 6em;
    padding-right: 2em;
    background-color: white;
    color: blue;
}

.navbar i {
    color: blue;
}

.nav-item a {
    font-weight: 700;
    margin-top: 5px;
    margin-right: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.9em;
    color: blue;
}

.navbar-brand {
    font-size: xx-large;
    font-weight: 800;
    letter-spacing: 1px;
    color: blue;
}

.navbar .btn-download {
    background-color: blue;
    font-weight: 500;
    padding: 10px;
    border-radius: 40px;
    color: azure;
    text-align: center;
}

.navbar .btn-download i {
    color: azure;
}

.navbar-collapse {
    background-color: white;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Main page - Video */

.bg-video {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(to bottom right, #00c3ff, #ffff1c); */
}

/* Main Page */

.affix {
    background-color: #eee;
    -webkit-transition: padding 0.2s ease-out;
    -moz-transition: padding 0.2s ease-out;
    -o-transition: padding 0.2s ease-out;
    transition: padding 0.2s ease-out;
}

.arrow {
    background: none;
    border: none;
    outline: none;
    color: antiquewhite;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 800ms;
    animation: updown 800ms ease-in alternate infinite;
}

@keyframes updown {
    from {
        transform: translate(-50%, 0%);
    }

    to {
        transform: translate(-50%, 10%);
    }
}

.arrow:hover {
    color: #333;
}

.video {
    overflow-y: hidden;
}

#sh {
    background-color: #0000FF;
    width: 100%;
    height: 400;
    /* border-radius: 25px;*/
    text-align: center;
    border-radius: 25px;
}

.big-heading {
    padding-left: 90px;
    word-wrap: break-word;
    font-size: 30px;
    color: white;
    padding-top: 30px;
}

.app {
    padding-top: 40px;
    size: 30px;
    color: white;
}

.heading {
    padding-left: 100px;
    font-weight: 40px;
    font-size: 60px;
    color: white;
    padding-top: 50px;
}

.title-image {
    width: 700px;
    height: 600px;
    padding-top: 100px;
    padding-right: 40px;
    padding-bottom: 50px;
    right: 100px;
}

/*Features*/

.white-section {
    background-color: #FC46AA
}

#features {
    /*padding: 7% 10%;*/
    padding-bottom: 390px;
    position: relative;
    background-color: #FC46AA;
    text-align: center;
    width: 100%;
    height: 300px;
    border-radius: 25px;
}

.feature-box {
    padding: 10%;
    padding-bottom: 300px;
}

.feature-title {
    font-size: 20px;
    font-weight: 20px;
}

#features p {
    font-weight: 20px;
    font-size: 15px;
}

.icon {
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}

.icon:hover {
    color: #0000FF;
}

.para {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 20px;
    padding-top: 50px;
    padding-left: 300px;
}

/*small screen*/
@media (max-width:500px) {
    .affix-top {
        /* navbar style at top */
        background-color: transparent;
        border-color: transparent;
        padding: 15px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .arrow {
        display: none;
    }

    .title-image {
        width: 500px;
        height: 700px;
        padding-bottom: 400px;

    }

    #sh {
        text-align: center;
        height: 700px;
    }

    .heading {
        padding-right: 70px;
        font-size: 30px;
    }

    .big-heading {
        padding-right: 60px;
        font-size: 20px;
    }

    .app {
        display: none;
    }

    .para {
        display: none;

    }

    #features {
        height: 600px;
    }
}

/*large screen*/
@media (min-width: 530px) {
    .arrow {
        top: 90%;
        transform: scale(0.8) translate(-65%);
        animation: updown 800ms ease-in alternate infinite;
    }
    .feature-box {
        padding: 20px;
    }
}

/*Scrollbar*/
* {
    scrollbar-width: thin;
    scrollbar-color: whitesmoke rgb(11, 145, 255);
}

*::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}

*::-webkit-scrollbar-track {
    background: whitesmoke;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(11, 145, 255);
    border-radius: 3px;
    border: 3px solid rgb(11, 145, 255);
}