/* Themes and Color Schemes */

:root {
    --white: white;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --blue0: #0601ff;
    --blue1: #0084a5;
    --green: #5FD588;
    --light: #F2F2F2;
    --dark: #0f0f0f;
}

.light {
    --bg: var(--light);
    --bg-nav: var(--gray0);
    --bg-dropdown: var(--blue0);
    --border-color: var(--blue1);
    --text: var(--white);
}


.dark {
    --bg: var(--dark);
    --bg-nav: var(--gray0);
    --bg-dropdown: var(--blue1);
    --border-color: var(--blue0);
    --text: var(--white);
}

/* Global Styling */

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar Bootstrap */

.navbar {
    height: 6rem;
    padding-left: 3.5vw;
    padding-right: 2.5vw;
    background-color: white;
    color: blue;
    filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, .7));
}

.navbar i {
    color: blue;
}

.nav-item a {
    font-weight: 700;
    margin-top: 5px;
    margin-right: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.9em;
    color: blue;
}

.navbar-brand {
    font-size: xx-large;
    font-weight: 800;
    letter-spacing: 1px;
    color: blue;
}

.navbar .btn-download {
    background-color: blue;
    font-weight: 500;
    padding: 10px;
    border-radius: 40px;
    color: azure;
    text-align: center;
}

.navbar .btn-download i {
    color: azure;
}

.navbar-collapse {
    background-color: white;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* mouse over link */
.navbar a:hover {
    color: rgb(11, 145, 255);
    text-decoration: none;
}

.nav-item a:hover {
    font-size: 1.1em;
}
/* Footer */

footer img {
    transition: all 800ms;
    animation: bottom 800ms ease-in alternate infinite;
}

@keyframes bottom {
    from {
        transform: translate(0%, 0%);
    }

    to {
        transform: translate(0.5%, 1%);
    }
}

footer li {
    list-style: none;
    font-size: 1.2em;
}

footer a {
    font-size: 1.1em;
    color: white;
}
  
/* mouse over link */
footer a:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    
}

footer h1 {
    padding-bottom: 0.5rem;
    font-size: 2.5em;
}

footer h3 {
    padding-bottom: 0.5rem;
    font-size: 2.5em;
}


footer {
    color: white;
    background-color: blue;
    width: 100%;
    overflow-y: hidden;
    margin-top: 4em;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding: 1rem 0rem 0rem 0rem;
}
footer img {
    width: 100%;
    height: auto;
}
footer .made {
    background-color: rgb(11, 145, 255);
    color: white;
    font-size: 4rem;
    filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, .7));
}

/* Main Page */

.affix {
    background-color: #eee;
    -webkit-transition: padding 0.2s ease-out;
    -moz-transition: padding 0.2s ease-out;
    -o-transition: padding 0.2s ease-out;
    transition: padding 0.2s ease-out;
}

.arrow {
    background: none;
    background-color: blue;
    border-radius: 100px;
    border: none;
    outline: none;
    color: white;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    filter: drop-shadow(2px 4px 1px rgba(0, 0, 0, .7));
    transform: translateX(-50%);
    transition: all 800ms;
    animation: updown 800ms ease-in alternate infinite;
}

@keyframes updown {
    from {
        transform: translate(-50%, 0%);
    }

    to {
        transform: translate(-50%, 10%);
    }
}

.arrow:hover {
    color: rgb(23, 151, 255);
}

.video {
    margin-top: 4.5rem;
    overflow-y: hidden;
}

#sh {
    background-color: rgb(255, 2, 120);
    width: 100%;
    height: 400;
    /* border-radius: 25px;*/
    text-align: center;
    border-radius: 40px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.big-heading {
    padding-left: 90px;
    word-wrap: break-word;
    font-size: 30px;
    color: white;
    padding-top: 30px;
}

.app {
    padding-top: 40px;
    size: 30px;
    color: white;
}

.heading {
    padding-left: 100px;
    font-weight: 40px;
    font-size: 60px;
    color: white;
    padding-top: 50px;
}

.title-image {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*Features*/

#features {
    /*padding: 7% 10%;*/
    padding-bottom: 390px;
    position: relative;
    background-color: blue;
    text-align: center;
    color: white;
    width: 100%;
    height: 300px;
    border-radius: 40px;
}

.feature-box {
    padding-bottom: 300px;
}

.feature-title {
    font-weight: 600;
    font-size: 2vw;
}

#features p {
    font-weight: 20px;
    font-size: 15px;
}

.icon {
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}

.icon:hover {
    color: rgb(23, 151, 255);
}

.para {
    text-align: center;
    color: white;
    font-size: 3.4vw;
    font-weight: 700;
    padding-top: 50px;
    padding-left: 16vw;
    padding-bottom: 10px;
}

section h2, section p {
    color: rgb(255, 2, 120);
}
section h2 {
    font-weight: 700;
    font-size: 4rem;
}
section p {
    font-size: 1.3em;
}

.card, .card p {
    background-color: rgb(255, 2, 120);
    color: white;
    margin: 20px;
    padding-top: 20px;
    border-radius: 40px ;
}

/*FAQ*/

.faq{
     font-weight: 800;
     font-size: 4vw;
     color:  rgb(255, 2, 120);
     text-transform: uppercase;
     padding: 20px;
 }

 .accordion-section .panel-default > .panel-heading {
     border: 0;
     background: rgb(255, 2, 120);
     border-radius: 10px;
     padding: 0;
 }
 
 .accordion-section .panel-default .panel-title a {
     display: block;
     color: white;
     font-size: 1.3vm;
 }
 
 .accordion-section .panel-default .panel-title a:after {
     font-family: 'FontAwesome';
     font-size: 3rem;
     content: "\f106";
     color: white;
     float: right;
     margin-top: -12px;
 }
 
 .accordion-section .panel-title a:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    font-size: 1.1em;
    
}
 
 .accordion-section .panel-default .panel-title a.collapsed:after {
     content: "\f107";
 }
 
 .accordion-section .panel-default .panel-body {
     font-size: 1rem;
 }
 

/*small screen*/
@media (max-width:750px) {
    .arrow {
        display: none;
    }

    #sh {
        text-align: center;
        height: 800px;
    }

    .heading {
        padding-right: 70px;
        font-size: 30px;
    }

    .big-heading {
        padding-right: 60px;
        font-size: 20px;
    }

    .app {
        display: none;
    }

    .para {
        display: none;

    }

    #features {
        height: 780px;
    }

    .feature-box {
        padding-bottom: 40px;
    }
}

/*large screen*/
@media (min-width: 750px) {
    .arrow {
        top: 90%;
        transform: scale(0.8) translate(-65%);
        animation: updown 800ms ease-in alternate infinite;
    }
    .feature-box {
        padding: 20px;
    }
}

/*Scrollbar*/
* {
    scrollbar-width: thin;
    scrollbar-color: whitesmoke rgb(11, 145, 255);
}

*::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}

*::-webkit-scrollbar-track {
    background: whitesmoke;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(11, 145, 255);
    border-radius: 3px;
    border: 3px solid rgb(11, 145, 255);
}