@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Themes and Color Schemes */

:root {
    --white: white;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --blue0: #0601ff;
    --blue1: #0084a5;
    --green: #5FD588;
    --light: #F2F2F2;
    --dark: #0f0f0f;
}

.light {
    --bg: var(--light);
    --bg-nav: var(--gray0);
    --bg-dropdown: var(--blue0);
    --border-color: var(--blue1);
    --text: var(--white);
}


.dark {
    --bg: var(--dark);
    --bg-nav: var(--gray0);
    --bg-dropdown: var(--blue1);
    --border-color: var(--blue0);
    --text: var(--white);
}

/* Navbar Bootstrap */

.container {
    padding-top: 100px;
}

.navbar {
    height: 6rem;
    padding-left: 6em;
    padding-right: 2em;
    background-color: white;
    color: blue;
}

.navbar i {
    color: blue;
}

.nav-item a {
    font-weight: 700;
    margin-top: 5px;
    margin-right: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.9em;
    color: blue;
}

.navbar-brand {
    font-size: xx-large;
    font-weight: 800;
    letter-spacing: 1px;
    color: blue;
}

.navbar .btn-download {
    background-color: blue;
    font-weight: 500;
    padding: 10px;
    border-radius: 40px;
    color: azure;
    text-align: center;
}

.navbar .btn-download i {
    color: azure;
}

.navbar-collapse {
    background-color: white;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Tour Page */

img {
    filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, .7));
    width: 70%;
    padding: 2vw;
    height: auto;
    transition: all 800ms;
    animation: bottom 800ms ease-in alternate infinite;
}

@keyframes bottom {
    from {
        transform: translate(0%, 0%);
    }

    to {
        transform: translate(0.5%, 1%);
    }
}

.btns {
    border-radius: 60px;
    color: azure;
    transform: translateX(-50%);
    transition: all 800ms;
    animation: updown 800ms ease-in alternate infinite;
}

@keyframes updown {
    from {
        transform: translate(-50%, 0%);
    }

    to {
        transform: translate(-50%, 10%);
    }
}

.btns:hover {
    color: #333;
}

.jumbotron {
    background-color: blue;
    height: 100vh;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.tour .row-header {
    font-weight: 700;
    color: white;
    font-size: 4vw;
    text-align: center;
}

.tour .row-content {
    font-size: 1.5vw;
    color: white;
}

.tour .btn {
    background-color: white;
    border-radius: 10px;
    color: blue;
    margin: 15px;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tour .btn i {
    padding-right: 0.5rem;
}

.slide_container {
    background: repeating-linear-gradient(blue, rgb(255, 2, 120));
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.slide_container .title h3 {
    padding-bottom: 5px;
    padding-top: 25px;
    color: white;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 2em;
}

.slide_container .content h1 {

    color: white;
    font-weight: 900;
}

/* Story Page */

.story-video {
    padding: 0.2vw;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .7));
}

.row-header {
    font-weight: 700;
    color: azure;
    font-size: 4vw;
    text-align: center;
}

.row-content {
    color: azure;
}

.rounded-box-how {
    background-color: rgb(23, 151, 255);
    ;
    padding: 3vw;
    border-radius: 40px;
}

.rounded-box-ideas {
    background-color: rgb(255, 2, 120);
    padding: 3vw;
    border-radius: 40px;
}

.rounded-box-solution {
    background-color: blue;
    padding: 3vw;
    border-radius: 40px;
}

.phone {
    filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, .7));
    width: 90%;
    height: auto;
}

.steps {
    color: blue;
    text-align: center;
    font-weight: 700;
}

.steps img {
    filter: none;
    animation: none;
}

#people-bg {
    border-radius: 40px;
    padding-bottom: 10vh;
}

#people-bg img {
    animation: none;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}

#people-logo {
    margin-left: 3.8vw;
}

#people-header {
    background-color: rgb(11, 145, 255);
    border-radius: 100px;
    padding: 1vw;
    font-size: 1.5vw;
    text-align: center;
    font-weight: 300;
    color: azure;
}

#people-header strong {
    font-weight: 700;
}

#idea-bs {
    color: currentColor;
    text-decoration: none;
}

#sol-desc {
    color: currentColor;
    text-decoration: none;
}

/*Scrollbar*/
* {
    scrollbar-width: thin;
    scrollbar-color: whitesmoke rgb(11, 145, 255);
}

*::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}

*::-webkit-scrollbar-track {
    background: whitesmoke;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(11, 145, 255);
    border-radius: 3px;
    border: 3px solid rgb(11, 145, 255);
}